<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title><%= content_for(:title) || "Kerouac" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Kerouac">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <% if user_signed_in? %>
      <div class="min-h-full">
        <%= render "shared/navbar" %>

        <main class="py-10">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <%= render "shared/flash" %>
            <%= yield %>
          </div>
        </main>
      </div>
    <% else %>
      <div class="min-h-full flex flex-col justify-center">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
